.top-picture-container {
  width: 100%;
  height: auto;
  min-height: calc(50vh + 400px);
  max-height: 100vh;
  background: url('/imgs/starsky.jpg') no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
}

.top-picture-container::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: rgba(0, 0, 0, 0.4);
}

.top-picture-container .intro {
  width: 50vw;
  position: relative;
  top: 15vh;
  left: 25vw;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.intro .intro1 {
  width: 100%;
  color: #ffffff;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all .3s ease-in .5s;
}

.intro .intro2 {
  width: 100%;
  color: #ffffff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
}

.intro .name {
  width: 100%;
  color: #ffffff;
  font-size: 76px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
} 

.start-button {
  width: 180px;
  height: 60px;
  line-height: 60px;
  color: #ffffff;
  position: absolute;
  top: calc(80% - 30px);
  left: calc(50% - 90px);
  border: 2px solid #ffffff;
  border-radius: 60px;
  text-align: center;
  transition: box-shadow .2s;
}

.start-button span {
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}

.start-button:hover {
  cursor: pointer;
  box-shadow: 0 0 20px #ffffff;
}

html {
  scroll-behavior: smooth;
}
